html {
  width: 100%
}
body {
  padding-bottom: 0;
}
body {
  overflow-x: hidden!important
}

body.show-spinner>main {
  overflow: hidden!important
}

body.show-spinner>* {
  opacity: 0
}

body.show-spinner::after {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, .3);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1
}

@keyframes spin {
  to {
  transform: rotate(360deg)
  }
}

@-webkit-keyframes spin {
  to {
  -webkit-transform: rotate(360deg)
  }
}

/*******  APPEND STYLES ******/
.app-menu {
  top: 72px;
  height: calc(100%);
}
#app-container.menu-hidden main, #app-container.menu-sub-hidden main, #app-container.sub-hidden main {
  margin-left: 120px;
}
.navbar {
  height: 70px;
  padding: 14px 0;
}
.menu {
  padding-top: 72px;
}
.menu .main-menu {
  width: 100px;
  height: calc(100%);
  padding: 0px 0;
}
.menu .sub-menu {
  width: 210px;
  left: 100px;
  height: calc(100%);
}
.menu .main-menu ul li a {
  height: 80px;
}
.menu .main-menu ul li.active:after {
  width: 4px;
  height: 78px;
  top: 46%;
}
main {
  margin-top: 95px;
  margin-right: 40px;
}
ul li {
  margin-bottom: 5px;
}
.dashboard-list-with-thumbs {
  height: 283px;
}
.dashboard-list-with-thumbs .list-thumbnail {
  height: 55px;
}
.dashboard-list-with-thumbs .list-item-heading {
  margin-bottom: 0;
}
.navbar #iconMenuDropdown {
  height: auto;
}
.navbar .header-icon#notificationButton .count {
  top: 0px;
}
.menu .main-menu ul li.dd-menu:before {
  font-family: "iconsminds";
  font-style: normal;
  font-weight: normal;
  speak: none;
  content: "\e836";
  color: #3a3a3a;
  position: absolute;
  right: 44%;
  bottom: -2px;
}

.menu .main-menu ul li.dd-menu.active:before {
  color: #145388;
}
.btn-group-lg>.btn, .btn-lg {
  padding: 10px 15px;
}
.modal .modal-body, .modal .modal-footer, .modal .modal-header {
  padding: 15px;
}
.modal-right .modal-header {
  flex: 0 0 0px;/
}

/* PAYMENT PAGE */
.payment-table>tbody>tr>td>a {
  font-weight: 600;
  color: #2a93d5;
}
div.dataTables_wrapper div.dataTables_filter input {
  border-radius: 20px;
}
div.dataTables_wrapper div.dataTables_length select {
  border-radius: 20px;
  padding: 5px 15px;
}
.card .card-title {
  margin-bottom: 1rem;
}

.timepicker-picker>table>tr {
  /* background: #000; */
  width: 200px;
}
.input-group-addon > span {
  display: none;
}

/* APPOINTMENT PAGE */
.app-menu .app-menu-button {
  background: #145388;
  color: #fff;
  border-radius: 25px 0 0 25px;
  top: 57px;
}
@media (max-width: 767px) {
  .app-menu .app-menu-button {
    top: 57px;
  }
}